#!/usr/bin/env bash

# xdg-ify
export XDG_STATE_HOME=$HOME/.local/state
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_CONFIG_HOME=$HOME/.config

# personal
export SRC=$HOME/Source
export GITHUB="$SRC/github.com"
export GITCJ="$SRC/gitlab.cj.dev"
export ICLOUD="$HOME/Library/Mobile\\ Documents/com~apple~CloudDocs/Documents"
export JEFF="$SRC/github.com/jeffwindsor/"
export DOTFILES="$JEFF/dotfiles"

# Source Control: https://github.com/git/git
if command -v git &>/dev/null; then
  export GIT_LOG_PRETTY_FORMAT='%C(green)%h%C(reset) - %s%C(cyan) | %an%C(dim) | %ch%C(auto)%d%C(reset)'
fi

# GREP replacement: https://github.com/BurntSushi/ripgrep
if command -v rg &>/dev/null; then
  export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/ripgreprc"
fi

# fuzzy finder: https://github.com/junegunn/fzf
if command -v fzf &>/dev/null; then
  export FZF_DEFAULT_COMMAND='fd --type f --hidden --ignore-file ~/.config/fdignore'
  export FZF_DEFAULT_OPTS='--info=inline --reverse --border none --preview "bat {}" --preview-window down'
fi
