## ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
## ░░█▀▀░▀█▀░█▀█░█▀▄░█▀▀░█░█░▀█▀░█▀█░░
## ░░▀▀█░░█░░█▀█░█▀▄░▀▀█░█▀█░░█░░█▀▀░░
## ░░▀▀▀░░▀░░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░░░░
## ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch $git_state$git_status \
$java$nodejs$gleam$haskell$python\
$fill\
$docker_context$shell$time\
$line_break\
$sudo$jobs$character\
"""

#
# STYLES are combinations of:
#   bold, italic, underline, dimmed, inverted, blink, hidden, strikethrough,
#   bg:<color>, fg:<color>, <color>, none,
# 
#   where <color> can be:
#     black, red, green, yellow, blue, magenta, purple, cyan, white, 
#     bright-black, bright-red, bright-green, bright-yellow, bright-blue, 
#     bright-magenta, bright-purple, bright-cyan, bright-white,
#     (ANSI codes: 123), (Hex codes: #aabbcc)
# 
# reference: https://starship.rs/advanced-config/#style-strings
#
palette = "primary"

[palettes.primary]
text1 = "blue"
text2 = "green"
text3 = "yellow"
highlight1 = "bright-blue"
highlight2 = "bright-green"
highlight3 = "bright-yellow"
lowlight1 = "bright-black"
lowlight2 = "purple"
lowlight3 = "magenta"
error = "red"


[directory]
style = "text1 italic"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = "  "
format = "[$symbol$branch](text2 dimmed)"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](text2)($ahead_behind$stashed)](text2 dimmed)"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = "([$state( $progress_current/$progress_total)](text2 dimmed)) "

[jobs]
symbol = ""
format = '[$number](highlight3)'
number_threshold = 1

[docker_context]
symbol = ""
format = "[[$symbol ($context) ]](lowlight1)"

[shell]
disabled = false
format = "[$indicator ](lowlight1)"
zsh_indicator = "zsh"
bash_indicator = "bash"

[time]
disabled = false
format = "[$time](lowlight1) "

[sudo]
disabled = false
format = "[$symbol](text1)"
symbol = "#"

[character]
success_symbol = "[❯](text1)"
error_symbol = "[❯](dimmed error)"
vimcmd_symbol = "[❮](lowlight2)"


# NERD FONT (copy)
[aws]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "


[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "
