layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="50%" stacked=true {
            pane name="prompt" {
                focus true
            }
            pane name="editor" {
                command "nvim"
                close_on_exit true
            }
        }
        pane size="50%" stacked=true {
            pane name="ai"{
                command "zsh"
                args "-i" "-c" "claude_bedrock"
                close_on_exit true
                focus true
            }
            pane name="source control" {
                command "lazygit"
                close_on_exit true
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
