layout {
  pane size=1 borderless=true {
      plugin location="compact-bar"
  }
  pane split_direction="vertical" {
      pane size="50%" stacked=true {
          pane name="edit" {}
      }
      pane size="50%" stacked=true {
          pane name="ai"{
              focus true
          }
          pane name="git" {
              command "lazygit"
          }
          pane name="tests" { }
          pane name="prompt" { }
      }
  }
}
