#!/bin/bash

#== fuzzy finder: https://github.com/junegunn/fzf
export FZF_DEFAULT_COMMAND='fd -H -t f'
export FZF_DEFAULT_OPTS='--info=inline --reverse --border none --preview "bat {}" --preview-window right'

function fzf_query() {
	# passed in query
	if [ -n "$1" ]; then
		fzf --query "$1"
	else
		fzf
	fi
}

function fzf_query_piped() {
	# piped in query
	if [ -n "$1" ]; then
		fzf --query "$1" </dev/stdin
	else
		fzf </dev/stdin
	fi
}

# shows the basename in the selection window, but returns full path
function fzf-display-basenames() {
	# previewing as directory
	fzf --delimiter / --with-nth -1 --preview='eza -A {} | less'
}

# initialize
eval "$(fzf --$SHELL_NAME)"
# map keys
if [[ $SHELL_NAME == "zsh" ]]; then
	# use Ctrl-e instead of Alt-c for "fzf to cd"
	zle     -N             fzf-cd-widget
	bindkey -M emacs '\C-e' fzf-cd-widget
	bindkey -rM emacs '\ec'
fi
