window:
  padding:
      x: 4
      y: 4
  opacity: {{ .terminal_opacity }}
  #decorations: none

cursor: 
  style: Block

font:
  normal:
    family: {{ .terminal_font  }}
  size: {{ .terminal_font_size }}

key_bindings:
  - { key: Q, mods: Command, action: Quit }
