keybinds {
    normal {
        bind "Ctrl h" { MoveFocus "left"; }
        bind "Ctrl j" { MoveFocus "down"; }
        bind "Ctrl k" { MoveFocus "up"; }
        bind "Ctrl l" { MoveFocus "right"; }

        bind "Ctrl Up" { NewPane "stacked"; }
        bind "Ctrl Right" { NewPane "Right"; }
        bind "Ctrl Down" { NewPane "Down"; }

        bind "Ctrl -" { Resize "Decrease"; }
        bind "Ctrl =" { Resize "Increase"; }
        
        bind "Ctrl [" { GoToPreviousTab; }
        bind "Ctrl ]" { GoToNextTab; }

        bind "Ctrl n" { NewPane; }
        bind "Ctrl e" { EditScrollback;}
    }
    pane {
        bind "Down" { NewPane "Down"; SwitchToMode "normal"; }
        bind "Right" { NewPane "Right"; SwitchToMode "normal"; }
        bind "Up" { NewPane "stacked"; SwitchToMode "normal"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect

plugins {
    about location="zellij:about"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider"
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    // status-bar location="zellij:status-bar"      // Disabled: replaced by compact-bar
    strider location="zellij:strider"
    // tab-bar location="zellij:tab-bar"            // Disabled: replaced by compact-bar
    welcome-screen location="zellij:session-manager"

    compact-bar location="zellij:compact-bar" {
      tooltip "Ctrl x"
    }
    zellij-forgot location="file:~/.local/share/zellij/plugins/zellij-forgot.wasm"
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins { }

web_client {
    font "monospace"
}
 
// Choose the theme that is specified in the themes section.
// Default: default
// ansi
// ao
// atelier-sulphurpool
// ayu_mirage
// ayu_dark
// catppuccin-frappe
// catppuccin-macchiato
// cyber-noir
// blade-runner
// retro-wave
// dracula
// everforest-dark
// gruvbox-dark
// iceberg-dark
// kanagawa
// lucario
// menace
// molokai-dark
// night-owl
// nightfox
// nord
// one-half-dark
// onedark
// solarized-dark
// tokyo-night-dark
// tokyo-night-storm
// tokyo-night
// vesper
//

theme "nord"
default_layout "default"
session_serialization false
show_startup_tips false
show_release_notes false
