// mnemonic key binding approach
//
keybinds {
    // mnemonic of 'm' for move
    move {
      unbind "Ctrl h"   //original switch to normal
      bind "Ctrl m" { SwitchToMode "Normal"; }
    }
    shared_except "move" "locked" {
        unbind "h"
        bind "Ctrl m" { SwitchToMode "Move"; }
    }

    // prefer arrows for new panes, and r for rename
    pane {
        unbind "e" "c" "d" "w" "Up" "Left"
        bind "h" { MoveFocus "Left"; }
        bind "Down" { NewPane "Down"; SwitchToMode "normal"; }
        bind "Right" { NewPane "Right"; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }

    // Resize (Ctrl R) not Ctrl n
    resize {
        unbind "Ctrl n"
        bind "Ctrl R" { SwitchToMode "Normal"; }
    }
    shared_except "resize" "locked" {
        unbind "Ctrl n"
        bind "Ctrl R" { SwitchToMode "Resize"; }
    }


    // Use [ ] for tab focus except when in tab where it is move
    tab {
        bind "Ctrl [" { MoveTab "Left"; }
        bind "Ctrl ]" { MoveTab "Right"; }
    }
    shared_except "locked" "tab" {
        bind "Ctrl [" { GoToPreviousTab; }
        bind "Ctrl ]" { GoToNextTab; }
    }

    // Everywhere - all unbinds above this please 
    shared_except "locked" {
        unbind "Alt i" "Alt o"  // tab movement 
        // unbind "Alt p" "Alt Shift p"  // pane grouping
        // unbind "Alt [" "Alt ]"   // swap layouts
 
        //  Resize (replacing Alt version)
        unbind "Alt =" "Alt +" "Alt -"
        bind "Ctrl -" { Resize "Decrease"; }
        bind "Ctrl =" { Resize "Increase"; }

        //  Full screen the pane
        bind "Ctrl f" { ToggleFocusFullscreen; }

        //  Floating Pane (replacing Alt version)
        unbind "Alt f"
        bind "Ctrl F" { ToggleFloatingPanes; }

        //  Pane Focus Change (replacing Alt version) 
        unbind "Alt h" "Alt Left" "Alt l" "Alt Right" "Alt j" "Alt Down" "Alt k" "Alt Up"
        bind "Ctrl h" { MoveFocus "left"; }
        bind "Ctrl j" { MoveFocus "down"; }
        bind "Ctrl k" { MoveFocus "up"; }
        bind "Ctrl l" { MoveFocus "right"; }

        //  New Pane (replacing Alt version)
        unbind "Alt n" 
        bind "Ctrl n" { NewPane "Right"; }
        bind "Ctrl N" { NewPane "Down"; }
        bind "Ctrl s" { NewPane "stacked"; }

        //  Edit Pane's Text in $EDITOR
        bind "Ctrl e" { EditScrollback;}


    }

}

plugins clear-defaults=true {
    // status-bar location="zellij:status-bar"      // Disabled: replaced by compact-bar
    // tab-bar location="zellij:tab-bar"            // Disabled: replaced by compact-bar

    about location="zellij:about"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider"
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    strider location="zellij:strider"
    welcome-screen location="zellij:session-manager"
    compact-bar location="zellij:compact-bar" {
      tooltip "Ctrl x"
    }

    // zellij-forgot location="file:~/.local/share/zellij/plugins/zellij-forgot.wasm"
}

theme "tender"
default_layout "default"
session_serialization false
show_startup_tips false
show_release_notes false
ui {
  pane_frames false {
        hide_session_name true
        rounded_corners true
    }
}
